.btn {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.btn_con:hover .btn {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.btn_con:hover .top_arrow,
.btn_con:hover .center_arrow {
  color: #222222;
}

.btn_con {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ic {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.top_arrow {
  color: #ffffff;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateY(-500%);
  -ms-transform: translateY(-500%);
  transform: translateY(-500%);
}

.center_arrow {
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.btn_con:hover .top_arrow {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.btn_con:hover .center_arrow {
  -webkit-transform: translateY(500%);
  -ms-transform: translateY(500%);
  transform: translateY(500%);
}

@media (max-width: 768px) {
  .btn {
    width: 5rem;
  }
}
